
* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    /* width */
::-webkit-scrollbar {
    width: 8px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(68, 112, 132);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 112, 132);
  }
}


